<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Pocisionando cajas</title>
    <link rel="stylesheet" href="css/positioning-box.css"
  </head>
  <body>
  <div  id="red_square" class="big-square">
  <div id="purple_square" class="medium-square" >
  <div id="yellow_square" class="small-square" ></div>
</div>
</div>
    <div id="blue_square" class="big-square mt-5 ml-20">
      <div id="green_square" class="medium-square"></div>
      <div id="black_square" class="small-square"></div>
</div>

  </body>
</html>
