<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='css/ipografia-iconos.css'/>
    <title></title>
  </head>
  <body>
    <section>
      <img src='http://dummyimage.com/50x50' alt=''/>
      <h2>Titulo</h2>
      <h6>Titulito</h6>
      <p>asdokjfsofidjgoidfjgoidfjgoifdjgoif</p>
    </section>

    <section>
      <img src='http://dummyimage.com/50x50' alt=''/>
      <h2>Titulo</h2>
      <h6>Titulito</h6>
      <p>asdokjfsofidjgoidfjgoidfjgoifdjgoif</p>
    </section>

    <section class="">
      <img src='http://dummyimage.com/50x50' alt=''/>
      <h2>Titulo</h2>
      <h6>Titulito</h6>
      <p>asdokjfsofidjgoidfjgoidfjgoifdjgoif</p>
    </section>

    <section>
      <img src='http://dummyimage.com/50x50' alt=''/>
      <h2>Titulo</h2>
      <h6>Titulito</h6>
      <p>asdokjfsofidjgoidfjgoidfjgoifdjgoif</p>
    </section>

    <section>
      <img src='http://dummyimage.com/50x50' alt=''/>
      <h2>Titulo</h2>
      <h6>Titulito</h6>
      <p>asdokjfsofidjgoidfjgoidfjgoifdjgoif</p>
    </section>
  </body>
</html>
